PORT=""
CORS_ORIGIN=""
CORS_METHODS=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""

MONGODB_URI=""
MONGODB_DBNAME=""

AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""

RESEND_API_KEY=""

NODE_ENV=""
BASE_URL=""

QDRANT_URL=""
QDRANT_API_KEY=""

